<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="1.5.1" targetFramework="win" />
  <package id="Callisto" version="1.2.9" targetFramework="win" />
  <package id="CharmFlyout" version="1.0.12" targetFramework="win" />
  <package id="MvvmLight" version="4.1.27.0" targetFramework="win" />
  <package id="MvvmLightLibs" version="4.1.27.0" targetFramework="win" />
  <package id="Newtonsoft.Json" version="5.0.3" targetFramework="win" />
  <package id="Rx-Core" version="2.0.21114" targetFramework="win" />
  <package id="Rx-Interfaces" version="2.0.21114" targetFramework="win" />
  <package id="Rx-Linq" version="2.0.21114" targetFramework="win" />
  <package id="Rx-Main" version="2.0.21114" targetFramework="win" />
  <package id="Rx-PlatformServices" version="2.0.21114" targetFramework="win" />
  <package id="Win8nl" version="1.0.7" targetFramework="win" />
  <package id="Windows.UI.Interactivity" version="1.1.0.0" targetFramework="win" />
  <package id="WinRtBehaviors" version="1.0.2" targetFramework="win" />
</packages>